<!-- Include CircuitJS and Chart.js libraries -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://www.falstad.com/circuit/circuitjs1-0.js"></script>

<section class="what-we-provide py-5">
    <div class="container">
        <hr>
        <h2 class="text-center mb-4">Aim : To determine the focal length of Concave mirror & Convex lens by obtaining
            the image of a distant object.</h2>
        <hr>
        <br>
        <div class="container">
            <div class="experiment-panel">
                <h3>Theory:</h3>
                <h4>How to Find Focal Length of Concave Mirror?</h4>
                <ul>
                    <li>A concave mirror is defined as the spherical mirror whose reflecting surface is curved inwards
                        and follows laws of reflection of light.</li>
                    <li>The light rays coming from a distant object can be considered to be parallel to each other.</li>
                    <li>If the image formed is real, inverted and very small in size, then the parallel rays of light
                        meet the point in the front of the mirror.</li>
                    <li>The image formed by the convex lens is real and can be obtained on the screen.</li>
                    <li><b><em>f</em></b> is used to denote the difference between the principal axis <b><em>P</em></b>
                        and the focus
                        <b><em>F</em></b> of the concave mirror.
                    </li>
                </ul>

                <h4>How to Find the Focal Length of Convex Lens?</h4>
                <ul>
                    <li>The convex lens is thicker in the middle and thinner at the edges and is also known as the
                        converging lens.</li>
                    <li>The refracted rays from the parallel beam of light converge on the other side of the convex
                        lens.</li>
                    <li>If the image is obtained at the focus of the lens, the image would be real, inverted and very
                        small.</li>
                    <li><b><em>f</em></b> is the focal length which is the difference between the optical centre of the
                        lens
                        and the principal focus.</li>
                    <li>The image can be obtained on the screen as the image formed by the lens is real.</li>
                </ul>


            </div>
            <hr>
            <h2 class="text-center mb-4"><button>Concave Mirror</button><button>Convex Lens</button></h2>
            <hr>
            <br>
            <h3>To Determine Focal Length of a Given Concave Mirror</h3>
            <div class="experiment-panel">
                <h4>Materials Required</h4>
                <ul>
                    <li>A concave mirror</li>
                    <li>A measuring scale</li>
                    <li>A screen holder</li>
                    <li>A mirror holder</li>
                    <li>A mirror stand</li>
                </ul>
            </div>
            <div class="experiment-panel">
                <h4>Procedure</h4>
                <ul>
                    <li>The distance between the selected distinct object should be more than 50 ft.</li>
                    <li>The concave mirror placed on the mirror stand and the distant object should be facing each
                        other.</li>
                    <li>The screen should be placed in front of the reflecting surface of the mirror. To obtain a clear,
                        sharp image the screen should be adjusted.</li>
                    <li>Using a metre scale the distance between the concave mirror and screen can be determined. The
                        distance is the same as the focal length of the given concave mirror.</li>
                    <li>Repeat the above procedure thrice to calculate the average focal length.</li>
                </ul>
            </div>
            <div class="experiment-panel">
                <h2 class="text-center mt-5">Precautions</h2>
                <ul>
                    <li>The placing of the convex lens should be vertical.</li>
                    <li>There should not be any hurdle between the rays of light from the object and the convex lens.
                    </li>
                    <li>To get a well illuminated and distinct image of the distinct object, the distant object should
                        be well
                        illuminated.</li>
                    <li>The convex lens stand and the screen should be parallel to the measuring scale.</li>
                </ul>
            </div>
            <div class="experiment-panel">
                <h2 class="text-center mb-4">Calculations</h2>
                <p>Following is the mean value of the focal length of convex lens:</p>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <div class="mathjax-scroll"><mjx-container class="MathJax CtxtMenu_Attached_0"
                                        jax="CHTML" tabindex="0" ctxtmenu_counter="1"
                                        style="font-size: 123.9%; position: relative;"><mjx-math class="MJX-TEX"
                                            aria-hidden="true"><mjx-mtable
                                                style="min-width: 9.017em;"><mjx-table><mjx-itable><mjx-mtr><mjx-mtd
                                                                style="text-align: left;"><mjx-mfrac><mjx-frac><mjx-num><mjx-nstrut></mjx-nstrut><mjx-mrow
                                                                                size="s"><mjx-msub><mjx-mi
                                                                                        class="mjx-i"><mjx-c
                                                                                            class="mjx-c1D453 TEX-I"></mjx-c></mjx-mi><mjx-script
                                                                                        style="vertical-align: -0.15em; margin-left: -0.06em;"><mjx-texatom
                                                                                            size="s"
                                                                                            texclass="ORD"><mjx-mn
                                                                                                class="mjx-n"><mjx-c
                                                                                                    class="mjx-c31"></mjx-c></mjx-mn></mjx-texatom></mjx-script></mjx-msub><mjx-mo
                                                                                    class="mjx-n"><mjx-c
                                                                                        class="mjx-c2B"></mjx-c></mjx-mo><mjx-msub><mjx-mi
                                                                                        class="mjx-i"><mjx-c
                                                                                            class="mjx-c1D453 TEX-I"></mjx-c></mjx-mi><mjx-script
                                                                                        style="vertical-align: -0.15em; margin-left: -0.06em;"><mjx-texatom
                                                                                            size="s"
                                                                                            texclass="ORD"><mjx-mn
                                                                                                class="mjx-n"><mjx-c
                                                                                                    class="mjx-c32"></mjx-c></mjx-mn></mjx-texatom></mjx-script></mjx-msub><mjx-mo
                                                                                    class="mjx-n"><mjx-c
                                                                                        class="mjx-c2B"></mjx-c></mjx-mo><mjx-msub><mjx-mi
                                                                                        class="mjx-i"><mjx-c
                                                                                            class="mjx-c1D453 TEX-I"></mjx-c></mjx-mi><mjx-script
                                                                                        style="vertical-align: -0.15em; margin-left: -0.06em;"><mjx-texatom
                                                                                            size="s"
                                                                                            texclass="ORD"><mjx-mn
                                                                                                class="mjx-n"><mjx-c
                                                                                                    class="mjx-c33"></mjx-c></mjx-mn></mjx-texatom></mjx-script></mjx-msub></mjx-mrow></mjx-num><mjx-dbox><mjx-dtable><mjx-line></mjx-line><mjx-row><mjx-den><mjx-dstrut></mjx-dstrut><mjx-mn
                                                                                            class="mjx-n"
                                                                                            size="s"><mjx-c
                                                                                                class="mjx-c33"></mjx-c></mjx-mn></mjx-den></mjx-row></mjx-dtable></mjx-dbox></mjx-frac></mjx-mfrac><mjx-mstyle><mjx-mspace
                                                                        style="width: 0.278em;"></mjx-mspace></mjx-mstyle><mjx-mi
                                                                    class="mjx-i"><mjx-c
                                                                        class="mjx-c1D450 TEX-I"></mjx-c></mjx-mi><mjx-mi
                                                                    class="mjx-i"><mjx-c
                                                                        class="mjx-c1D45A TEX-I"></mjx-c></mjx-mi><mjx-mo
                                                                    class="mjx-n" space="4"><mjx-c
                                                                        class="mjx-c3D"></mjx-c></mjx-mo><mjx-mn
                                                                    class="mjx-n" space="4"><mjx-c
                                                                        class="mjx-c31"></mjx-c><mjx-c
                                                                        class="mjx-c30"></mjx-c></mjx-mn><mjx-mstyle><mjx-mspace
                                                                        style="width: 0.278em;"></mjx-mspace></mjx-mstyle><mjx-mi
                                                                    class="mjx-i"><mjx-c
                                                                        class="mjx-c1D450 TEX-I"></mjx-c></mjx-mi><mjx-mi
                                                                    class="mjx-i"><mjx-c
                                                                        class="mjx-c1D45A TEX-I"></mjx-c></mjx-mi><mjx-tstrut></mjx-tstrut></mjx-mtd></mjx-mtr></mjx-itable></mjx-table></mjx-mtable></mjx-math><mjx-assistive-mml
                                            unselectable="on" display="inline"><math
                                                xmlns="http://www.w3.org/1998/Math/MathML">
                                                <mtable columnalign="left" columnspacing="1em" rowspacing="4pt">
                                                    <mtr>
                                                        <mtd>
                                                            <mfrac>
                                                                <mrow>
                                                                    <msub>
                                                                        <mi>f</mi>
                                                                        <mrow data-mjx-texclass="ORD">
                                                                            <mn>1</mn>
                                                                        </mrow>
                                                                    </msub>
                                                                    <mo>+</mo>
                                                                    <msub>
                                                                        <mi>f</mi>
                                                                        <mrow data-mjx-texclass="ORD">
                                                                            <mn>2</mn>
                                                                        </mrow>
                                                                    </msub>
                                                                    <mo>+</mo>
                                                                    <msub>
                                                                        <mi>f</mi>
                                                                        <mrow data-mjx-texclass="ORD">
                                                                            <mn>3</mn>
                                                                        </mrow>
                                                                    </msub>
                                                                    <mo>+</mo>
                                                                    <mo>.</mo>
                                                                    <mo>.</mo>
                                                                    <mo>.</mo>
                                                                    <mo>+</mo>
                                                                    <msub>
                                                                        <mi>f</mi>
                                                                        <mrow data-mjx-texclass="ORD">
                                                                            <mn>n</mn>
                                                                        </mrow>
                                                                    </msub>
                                                                </mrow>
                                                                <mn>n</mn>
                                                            </mfrac>
                                                            <mstyle scriptlevel="0">
                                                                <mspace width="0.278em"></mspace>
                                                            </mstyle>
                                                            <mi>c</mi>
                                                            <mi>m</mi>
                                                            <mo>=</mo>
                                                            <mn>f</mn>
                                                            <mstyle scriptlevel="0">
                                                                <mspace width="0.278em"></mspace>
                                                            </mstyle>
                                                            <mi>c</mi>
                                                            <mi>m</mi>
                                                        </mtd>
                                                    </mtr>
                                                </mtable>
                                            </math>
                                        </mjx-assistive-mml>
                                    </mjx-container>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="experiment-panel">
                <h4>Experimental Setup</h4>
                <div class="experiment-diagram">
                    <img src="https://d1hj4to4g9ba46.cloudfront.net/questions/1632000_1773972_ans_e9348770a2ce442dbffdd5a486de48bb.png"
                        alt="Ray Diagram">
                </div>
            </div>
            <br>
            <hr>
            <h2>Explore a Virtual Experiment Environment for Enhanced Understanding</h2>
            <hr>
            <br>
            <div class="experiment-panel" style="text-align:center">
                <iframe scrolling="no" title="Concave Mirror"
                    src="https://www.geogebra.org/material/iframe/id/xgrhjexu/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/false/ctl/false"
                    width="1200px" height="500px" style="border:0px;"> </iframe>
            </div>
            <div class="experiment-panel">
                <h4>Observation Table</h4>
                <table id="observationTable">
                    <tr>
                      <th>Observation</th>
                      <th>Focal Length (f)</th>
                    </tr>
                    <tr id="newRowTemplate" style="display: none;">
                      <td>Observation X</td>
                      <td><input type="number" style="text-align: center;" placeholder="Enter Your Observation Here" class="focal-length-input"></td>
                    </tr>
                  </table>
                  <button id="addRowButton">Add Row</button>
                  <button id="calculateButton">Calculate final focal length</button>
            </div>
            <div class="experiment-panel">
                <h2>Result</h2>
                <p>Average Focal Length: <span id="averageFocalLength">---</span></p>
            </div>

        </div>
        
    </div>

</section>
<script>
    const newRowTemplate = document.getElementById('newRowTemplate');
    const focalLengthInputs = document.getElementsByClassName('focal-length-input');
    const averageFocalLengthSpan = document.getElementById('averageFocalLength');
    const addRowButton = document.getElementById('addRowButton');
    const calculateButton = document.getElementById('calculateButton');

    function calculateAverage() {
      const validInputs = [];
      for (const input of focalLengthInputs) {
        const focalLength = parseFloat(input.value);
        if (!isNaN(focalLength)) {
          validInputs.push(focalLength);
        }
      }

      if (validInputs.length > 0) {
        const sum = validInputs.reduce((total, value) => total + value, 0);
        const average = sum / validInputs.length;
        averageFocalLengthSpan.textContent = average.toFixed(2);
      } else {
        averageFocalLengthSpan.textContent = '---';
      }
    }

    for (const input of focalLengthInputs) {
      input.addEventListener('input', calculateAverage);
    }

    addRowButton.addEventListener('click', () => {
      addRow();
    });

    calculateButton.addEventListener('click', () => {
      calculateAverage();
    });

    function addRow() {
      const newRow = newRowTemplate.cloneNode(true);
      newRow.removeAttribute('id');
      newRow.style.display = 'table-row';
      const observationNumber = document.querySelectorAll('#observationTable tr').length - 1;
      newRow.querySelector('td').textContent = `Observation ${observationNumber}`;
      document.getElementById('observationTable').appendChild(newRow);
      calculateAverage();
    }

    // Initial row
    addRow();
  </script>